MCAP.Nova.UW.GetMinimumRate/MCAP.Nova.UW.GetMinimumRate/Service References/CalcRateServiceReference1/CalcRate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Rate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="product" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="program" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startdate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="enddate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RateSoapIn">
    <wsdl:part name="parameters" element="tns:Rate" />
  </wsdl:message>
  <wsdl:message name="RateSoapOut">
    <wsdl:part name="parameters" element="tns:RateResponse" />
  </wsdl:message>
  <wsdl:portType name="CalcRateSoap">
    <wsdl:operation name="Rate">
      <wsdl:input message="tns:RateSoapIn" />
      <wsdl:output message="tns:RateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalcRateSoap" type="tns:CalcRateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Rate">
      <soap:operation soapAction="http://tempuri.org/Rate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CalcRateSoap12" type="tns:CalcRateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Rate">
      <soap12:operation soapAction="http://tempuri.org/Rate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcRate">
    <wsdl:port name="CalcRateSoap" binding="tns:CalcRateSoap">
      <soap:address location="http://localhost:10985/CalcRate.asmx" />
    </wsdl:port>
    <wsdl:port name="CalcRateSoap12" binding="tns:CalcRateSoap12">
      <soap12:address location="http://localhost:10985/CalcRate.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>